@font-face {
    font-family: "Uni Neue";
    src: url('../../fonts/UniNeue-Trial-Regular.eot');
    src: url('../../fonts/UniNeue-Trial-Regular.eot') format('embedded-opentype'),
         url('../../fonts/UniNeue-Trial-Regular.woff2') format('woff2'),
         url('../../fonts/UniNeue-Trial-Regular.woff') format('woff'),
         url('../../fonts/UniNeue-Trial-Regular.ttf') format('truetype');
}
.topNav{
    display: inline-block;
    font-family: 'Uni Neue', sans-serif;
}

.topLogo {
    display: inline-block;
    padding: 0em 1em;
}
.topNavBrand h1 {
    display: inline-block;
    color: #735DFA;
    text-decoration: none;
    font-family: 'Uni Neue', sans-serif;
}
.topNav2{
    display: inline-block;
    margin: 0em 6.5em;
    font-size: 14pt;
}
.topSearch{
    margin-top: -.5em;
    position: fixed;
    text-decoration: none;
    width: 15%;
    background-image: radial-gradient(circle, #050125, #090D0E);
    color: white;
    border: #4A5460 0.1em solid;
    border-radius: .5em;
    padding: .5em;
}
.topNotif{
    margin-left: 30em;
    text-decoration: none;
}