@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@font-face {
    font-family: "Uni Neue";
    src: url('../../fonts/UniNeue-Trial-Regular.eot');
    src: url('../../fonts/UniNeue-Trial-Regular.eot') format('embedded-opentype'),
         url('../../fonts/UniNeue-Trial-Regular.woff2') format('woff2'),
         url('../../fonts/UniNeue-Trial-Regular.woff') format('woff'),
         url('../../fonts/UniNeue-Trial-Regular.ttf') format('truetype');
}

.sc400{
    text-align: center;
}
.sc400 h1{
    font-size: 100pt;
    font-family: 'Uni Neue';
}
.sc400 h2{
    margin-top: -2em;
    font-size: 30pt;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}
.sc400 h3{
    font-size: 18pt;
    font-family: 'DM Sans', sans-serif;
}
