@font-face {
    font-family: "Uni Neue";
    src: url('../../fonts/UniNeue-Trial-Regular.eot');
    src: url('../../fonts/UniNeue-Trial-Regular.eot') format('embedded-opentype'),
         url('../../fonts/UniNeue-Trial-Regular.woff2') format('woff2'),
         url('../../fonts/UniNeue-Trial-Regular.woff') format('woff'),
         url('../../fonts/UniNeue-Trial-Regular.ttf') format('truetype');
}

.right-admin-column{
    top: 0;
    right: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0A0F10;
    border: #24292F 0.1em solid;
    padding: 1em;
    font-family: 'Uni Neue', sans-serif;
}

.rn-admdiv{
    padding: 1em 0em;
}

.rn-admdash, .rn-admadmins, .rn-admuser, .rn-admserver, .rn-user, .rn-admnodes{
    padding-left: 1em;
    text-decoration: none;
    color: white;
}
.rn-admdash:hover, .rn-admadmins:hover, .rn-admuser:hover, .rn-admserver:hover, .rn-user:hover, .rn-admnodes:hover{
    text-decoration: none;
    color: #d2f364;
}

.rn-admCogImg{
    position: fixed;
    margin: 1em 1em;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: inline-block;
}

.goto-user-dashboard{
    display: inline-block;
    position: fixed;
    color: black;
    font-size: 18px;
    margin-bottom: 1em;
    bottom: 0;
    right: 1;
    background-color: #A7E7F8;
    border: #A7E7F8;
    border-radius: 0.50em;
    padding: .4em 1.5em;
    text-decoration: none;
}
.goto-user-dashboard:hover{
    background-color: #735DFA;
    color: white;
}