@font-face {
    font-family: "Uni Neue";
    src: url('../../../../fonts/UniNeue-Trial-Regular.eot');
    src: url('../../../../fonts/UniNeue-Trial-Regular.eot') format('embedded-opentype'),
         url('../../../../fonts/UniNeue-Trial-Regular.woff2') format('woff2'),
         url('../../../../fonts/UniNeue-Trial-Regular.woff') format('woff'),
         url('../../../../fonts/UniNeue-Trial-Regular.ttf') format('truetype');
}
.topNav{
    font-family: 'Uni Neue', sans-serif;
}

.topLogo {
    padding: 0em 1em;
}
.topNavBrand h1 {
    display: inline-block;
    color: #735DFA;
    text-decoration: none;
    font-family: 'Uni Neue', sans-serif;
}
.topNavSearch{
    display: inline-block;
    margin-left: 6.5em;
}
.topSearch{
    position: relative;
    width: 200%;
    text-decoration: none;
    background-image: radial-gradient(circle, #050125, #090D0E);
    color: white;
    border: #4A5460 0.1em solid;
    border-radius: .5em;
    padding: .5em;
}
.topNavNotif{
    position: relative;
    margin-left: 15em;
    text-decoration: none;
    display: inline-block;
}
.topNavNotif:hover{
    /* border: #4A5460 solid;
    border-radius: .5em; */
    cursor: pointer;
}
