@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500&display=swap');

/* .hello{
    font-size: 25px; 
} */
.card h3{
    text-align: left;
    color: #7cdcf7;
    margin-left: 20rem;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.a p{
    text-align: left;
    margin-left: 20.1rem;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.box{
    background-image: radial-gradient(circle, #050125, #090D0E);
    color: blue;
    width: 27%;
    border: #4A5460 0.2em solid;
    border-radius: .5em;
    padding: .5em;
}